In [1]:
import pandas as pd
import os

### data preview

In [2]:
data_path = '/Users/ryan/Documents/GitHub/MGT4187-Project/data'

In [3]:
os.chdir(data_path)
profit = pd.read_csv('movie_profit.csv', index_col=0)

print(profit.columns)

# check the nan value in production budget col
print('nan value in production budget: ', profit['production_budget'].isna().sum())
profit.sample(10)

Index(['release_date', 'movie', 'production_budget', 'domestic_gross',
       'worldwide_gross', 'distributor', 'mpaa_rating', 'genre'],
      dtype='object')
nan value in production budget:  0

,release_date,movie,production_budget,domestic_gross,worldwide_gross,distributor,mpaa_rating,genre
1155,2/25/2005,Cursed,35000000.0,19294901.0,25114901.0,Miramax/Dimension,PG-13,Horror
1885,6/24/1970,Catch-22,18000000.0,24911670.0,24911670.0,Paramount Pictures,NaN,Comedy
2841,3/23/2018,"Paul, Apostle of Christ",5000000.0,17547999.0,23389835.0,Sony Pictures,PG-13,Drama
200,10/5/2018,Venom,100000000.0,171125095.0,461825095.0,Sony Pictures,PG-13,Action
1758,4/8/2005,Kung Fu Hustle,20000000.0,17104669.0,102034104.0,Sony Pictures Classics,R,Action
2144,2/24/2012,Tyler Perry's Good Deeds,14000000.0,35025791.0,35579177.0,Lionsgate,PG-13,Drama
312,6/30/1995,Judge Dredd,85000000.0,34687912.0,113487912.0,Walt Disney,R,Action
2202,3/1/2013,21 and Over,13000000.0,25682380.0,42195766.0,Relativity,R,Comedy
2135,12/20/1989,Born on the Fourth of July,14000000.0,70001698.0,70001698.0,Universal,R,Drama
1626,11/11/2005,Derailed,22000000.0,36020063.0,57520063.0,Weinstein Co.,R,Action

In [4]:
disney_plus = pd.read_csv('disney_plus_shows.csv')

print(disney_plus.columns)
disney_plus.sample(5)

Index(['imdb_id', 'title', 'plot', 'type', 'rated', 'year', 'released_at',
       'added_at', 'runtime', 'genre', 'director', 'writer', 'actors',
       'language', 'country', 'awards', 'metascore', 'imdb_rating',
       'imdb_votes'],
      dtype='object')

,imdb_id,title,plot,type,rated,year,released_at,added_at,runtime,genre,director,writer,actors,language,country,awards,metascore,imdb_rating,imdb_votes
160,tt1376699,Den Brother,A high school hockey player forced to lead his...,movie,Not Rated,2010,13 Aug 2010,"November 12, 2019",89 min,"Family, Romance, Sport",Mark L. Taylor,"James Krieg (teleplay), Michael Horowitz (story)","Hutch Dano, Genevieve Hannelius, Vicki Lewis, ...",English,USA,NaN,NaN,5.4,"1,666"
91,tt0109369,Camp Nowhere,A group of junior high kids don't want to go t...,movie,PG,1994,26 Aug 1994,"November 12, 2019",96 min,"Adventure, Comedy, Family",Jonathan Prince,"Andrew Kurtzman, Eliot Wald","John Putch, Peter Scolari, Romy Windsor, Jonat...",English,USA,NaN,NaN,6.1,"8,448"
221,tt12100080,Diving with Dolphins,"A documentary showing the making of ""Dolphin R...",movie,NaN,2020,03 Apr 2020,"April 3, 2020",79 min,Documentary,Keith Scholey,NaN,"Celine Cousteau, Daniel Rasmussen",English,USA,NaN,NaN,7.4,18
474,tt0103584,X-Men: The Animated Series,A team of mutant superheroes fight for justice...,series,TV-Y7,1992–1997,31 Oct 1992,"November 12, 2019",23 min,"Animation, Action, Family, Sci-Fi, Thriller",NaN,"Mark Edward Edens, Sidney Iwanter, Eric Lewald...","Cathal J. Dodd, George Buza, Norm Spencer, Ced...",English,"USA, Canada",NaN,NaN,8.4,"36,206"
19,tt0043274,Alice in Wonderland,Alice stumbles into the world of Wonderland. W...,movie,G,1951,14 Sep 1951,"November 12, 2019",75 min,"Animation, Adventure, Family, Fantasy, Musical","Clyde Geronimi, Wilfred Jackson, Hamilton Luske","Lewis Carroll (adaptation), Winston Hibler (st...","Kathryn Beaumont, Ed Wynn, Richard Haydn, Ster...",English,USA,Nominated for 1 Oscar. Another 1 nomination.,68.0,7.4,"123,377"

### match with profit dataset

In [5]:
profit.rename(columns={'movie': 'title'}, inplace=True)

disney_plus = pd.merge(disney_plus, profit[['title', 'production_budget', 'domestic_gross', 'worldwide_gross', 'distributor', 'mpaa_rating']], on='title', how='left')

# check the matched pairs
disney_plus['matched_profit_indicator'] = disney_plus['production_budget'].notnull().astype(int)
print(f'the original length: {disney_plus.__len__()}; the matched pairs: {disney_plus.matched_profit_indicator.sum()}')

the original length: 992; the matched pairs: 123

In [6]:
disney_plus.sample(5)

,imdb_id,title,plot,type,rated,year,released_at,added_at,runtime,genre,...,awards,metascore,imdb_rating,imdb_votes,production_budget,domestic_gross,worldwide_gross,distributor,mpaa_rating,matched_profit_indicator
391,tt0110157,Iron Will,A brave young man is thrust into adulthood as ...,movie,PG,1994,14 Jan 1994,"November 12, 2019",108 min,"Adventure, Family",...,NaN,56.0,6.6,"7,095",NaN,NaN,NaN,NaN,NaN,0
184,tt3008594,Minnie's Bow-Toons,Minnie and daisy open a bow shop in which they...,series,NaN,2011–2016,14 Nov 2011,"November 12, 2019",NaN,Animation,...,1 win & 1 nomination.,NaN,6.5,35,NaN,NaN,NaN,NaN,NaN,0
149,tt0377770,Destino,"To a song of love lost and rediscovered, a wom...",movie,PG,2003,05 Aug 2003,"January 10, 2020",7 min,"Animation, Short",...,Nominated for 1 Oscar. Another 6 wins & 1 nomi...,NaN,7.9,"3,695",NaN,NaN,NaN,NaN,NaN,0
658,tt3748528,Rogue One: A Star Wars Story,The daughter of an Imperial scientist joins th...,movie,PG-13,2016,16 Dec 2016,"November 12, 2019",133 min,"Action, Adventure, Sci-Fi",...,Nominated for 2 Oscars. Another 24 wins & 80 n...,65.0,7.8,"526,836",NaN,NaN,NaN,NaN,NaN,0
845,tt0246834,The Other Me,Will Browning accidentally creates a clone of ...,movie,TV-G,2000,08 Sep 2000,"November 12, 2019",90 min,"Comedy, Family, Sci-Fi",...,2 wins & 1 nomination.,NaN,6.1,"1,741",NaN,NaN,NaN,NaN,NaN,0

### match within the review data

In [7]:
review_path = '/Users/ryan/Documents/GitHub/MGT4187-Project/data/review_data'
os.chdir(review_path)

audience = pd.read_csv('audience_reviews.csv')
print(audience.columns)
print(f'total length of audience review data: {audience.__len__()}; unique show: {audience.Show.unique().__len__()}')
audience.sample(5)

Index(['Show', 'Rating', 'Review'], dtype='object')
total length of audience review data: 65522; unique show: 563

,Show,Rating,Review
62391,Marvel's Agents of S.H.I.E.L.D.,5.0,one of the best shows i loved it ...chloe benn...
51228,The Queen's Gambit,2.0,A way overrated tv series with an extremely sl...
56717,The Thing About Pam,1.5,I like everything except the fact that Renee Z...
52436,The Stranger,3.5,Strong start to an intriguing mystery gets wea...
45377,Sex/Life,5.0,"Personally I LOVED this show. For me, it was a..."

In [8]:
critic = pd.read_csv('critic_reviews.csv')
print(critic.columns)
print(f'total length of critic data: {critic.__len__()}; unique show: {critic.Show.unique().__len__()}')
critic.sample(5)

Index(['Show', 'Sentiment', 'Review'], dtype='object')
total length of critic data: 14791; unique show: 495

,Show,Sentiment,Review
7979,Breaking Bad,1,Its creator Vince Gilligan's extraordinary sto...
1722,Evil,1,"Evil, since its start, has always been an intr..."
4986,The Outsider,1,"The Outsider is a superbly written, shot and a..."
1196,Schmigadoon!,0,There's too much talent here for Schmigadoon! ...
152,Severance,1,Black Mirror meets Eternal Sunshine of the Spo...

In [9]:
tv_show = pd.read_csv('tv_show_links.csv')
print(tv_show.columns)
print(f'total length of tv_show data: {tv_show.__len__()}')
tv_show.sample(5)

Index(['Network', 'Show', 'Critic Score', 'Audience Score', 'tv_link'], dtype='object')
total length of tv_show data: 885

,Network,Show,Critic Score,Audience Score,tv_link
271,HBO MAX,Girls,89%,75%,https://www.rottentomatoes.com/tv/girls
402,Prime Video,The Handmaid's Tale,83%,77%,https://www.rottentomatoes.com/tv/the_handmaid...
795,VUDU,Game of Thrones,89%,85%,https://www.rottentomatoes.com/tv/game_of_thrones
565,Hulu,Cardinal,87%,83%,https://www.rottentomatoes.com/tv/cardinal
566,Hulu,Criminal Minds,--,85%,https://www.rottentomatoes.com/tv/criminal_minds

#### merge based on tv_show dataset

In [10]:
# grouping the review data first

## audience data
grouped_audience = audience.groupby('Show', dropna=False)

agg_audience_nob = pd.DataFrame({
        'nob_audience': grouped_audience.size()
}).reset_index()

agg_audience = grouped_audience.agg({
    'Rating': lambda x: list(pd.unique(x)), 
    'Review': lambda x: list(pd.unique(x))
})

audience_data = pd.merge(agg_audience_nob, agg_audience, on='Show')
audience_data.sample(5)

,Show,nob_audience,Rating,Review
284,Ozark,174,"[4.5, 3.0, 2.5, 0.5, 1.0, 5.0, 4.0, 3.5, 1.5, ...","[First few episodes were slow, but man did it ..."
335,Sex and the City,2,"[3.0, 3.5]",[It was great back in the day but now it just ...
356,Star Trek: Enterprise,23,"[3.5, 1.0, 5.0, 4.5, 4.0, 3.0, 0.5]","[The final season, which brought in Manny Coto..."
549,Winning Time: The Rise of the Lakers Dynasty,47,"[0.5, 5.0, 4.0, 4.5, 3.5, 1.5, 2.5]",[This show plays fast and loose with the truth...
521,Undone,15,"[5.0, 0.5, 2.0, 4.5]",[Theres no way to not watch this series. A tru...

In [11]:
## critics data
grouped_critics = critic.groupby('Show', dropna=False)

agg_critics_nob = pd.DataFrame({
        'nob_critics': grouped_critics.size()
}).reset_index()
agg_critics = grouped_critics.agg({
    'Sentiment': lambda x: list(pd.unique(x)), 
    'Review': lambda x: list(pd.unique(x))
})

critics_data = pd.merge(agg_critics_nob, agg_critics, on='Show')
critics_data.sample(5)

,Show,nob_critics,Sentiment,Review
410,The Sex Lives of College Girls,30,"[1, 0]","[It's a credit to the sharp writing, entertain..."
489,You Don't Know Me,5,[1],"[The well-written, skillfully told four-part c..."
233,Once Upon a Time,7,"[1, 0]",[Season 7 got off to an admittedly bumpy start...
123,George Carlin's American Dream,19,[1],[Apatow has done much to illuminate the art fo...
215,Money Heist: Korea - Joint Economic Area,13,"[1, 0]",[Themes regarding traditionalism versus global...

In [12]:
audience_data.rename(columns={'Review': 'Review_audience'}, inplace=True)
tv_show = pd.merge(tv_show, audience_data, on='Show', how='left')

critics_data.rename(columns={'Review': 'Review_critics'}, inplace=True)
tv_show = pd.merge(tv_show, critics_data, on='Show', how='left')


tv_show['matched_audience_indicator'] = tv_show['Review_audience'].notnull().astype(int)
tv_show['matched_critics_indicator'] = tv_show['Review_critics'].notnull().astype(int)

print(f'the matched pairs from audience review: {tv_show.matched_audience_indicator.sum()}')
print(f'the matched pairs from critics: {tv_show.matched_critics_indicator.sum()}')

tv_show['matched_all_review_indicator'] = (tv_show['matched_audience_indicator'] & tv_show['matched_critics_indicator']).astype(int)
print(f'the matched results from all review data: {tv_show.matched_all_review_indicator.sum()}')

the matched pairs from audience review: 746
the matched pairs from critics: 673
the matched results from all review data: 657

#### finalize the review dataset

##### attach review information on profit information

In [13]:
# match with profit & production data

tv_show.rename(columns={'Show': 'title'}, inplace=True)
disney_plus = pd.merge(disney_plus, tv_show, on='title', how='left')

disney_plus.sample(5)

,imdb_id,title,plot,type,rated,year,released_at,added_at,runtime,genre,...,tv_link,nob_audience,Rating,Review_audience,nob_critics,Sentiment,Review_critics,matched_audience_indicator,matched_critics_indicator,matched_all_review_indicator
319,tt0385726,Glory Road,"In 1966, Texas Western coach Don Haskins led t...",movie,PG,2006,13 Jan 2006,"December 1, 2019",118 min,"Biography, Drama, Sport",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
328,tt0025200,The Grasshopper and the Ants,"As in the classic fable, the grasshopper plays...",movie,Approved,1934,10 Feb 1934,"November 12, 2019",8 min,"Family, Comedy, Animation, Musical, Short",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
523,tt0120645,Meet the Deedles,Two surfers end up as Yellowstone park rangers...,movie,PG,1998,27 Mar 1998,"November 12, 2019",93 min,"Comedy, Family",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
31,tt0207972,Annie,A little orphan girl catches the attention of ...,movie,UNRATED,1999,07 Nov 1999,"November 12, 2019",90 min,"Family, Comedy, Musical",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
9,tt0113198,A Goofy Movie,When Max makes a preposterous promise to a gir...,movie,G,1995,07 Apr 1995,"November 12, 2019",78 min,"Animation, Adventure, Comedy, Family, Musical,...",...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [14]:
valid_data = disney_plus.loc[((disney_plus['matched_profit_indicator']==1)&(disney_plus['matched_all_review_indicator']==1))]
## question: only 7 entries...

##### attach profit information on review information

In [15]:
# match with profit & production data

# tv_show.rename(columns={'Show': 'title'}, inplace=True)
# tv_show = pd.merge(tv_show, disney_plus, on='title', how='left')

# valid_data = tv_show.loc[((tv_show['matched_profit_indicator']==1)&(tv_show['matched_all_review_indicator']==1))]
# print('total length of valid data: ', valid_data.__len__())